.zip-box {
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: auto;
  max-height: 300px;
  width: 300px;
  overflow: hidden;
}

.zip-box > div.Collapsible {
  margin-top: -15px;
}

.zip-box > div.Collapsible > span {
  position: absolute;
  right: 88px;
  margin-top: -44px;
  font-size: 26px;
  cursor: pointer;
}

.zip-box > div.Collapsible > div {
  margin-top: 2px;
}

.zip-box > div.Collapsible > div ::-webkit-scrollbar {
  width: 3px;
}

.zip-box > div.Collapsible > div ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.zip-box > div.Collapsible > div ::-webkit-scrollbar-thumb {
  background: #b1b1b1;
}

.zip-box > div.Collapsible > div ::-webkit-scrollbar-thumb:hover {
  background: #9c9a9a;
}

.zip-box .all-zip {
  max-height: calc(80% - 10px);
  overflow: auto;
  padding-top: 5px;
}

.zip-box .all-zip .zip-toast .close-zip {
  cursor: pointer;
  color: #883030;
}

.zip-box .all-zip .zip-toast .zip-title {
  font-size: 18px;
}

.zip-box .all-zip .zip-toast .progress-data {
  float: left;
  margin-right: 10px;
}

.zip-box .all-zip div.Collapsible > span {
  color: #3ea5ff;
  cursor: pointer;
  overflow-wrap: anywhere;
}

.zip-box .all-zip div.Collapsible > div {
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 5px;
}
/*# sourceMappingURL=index.css.map */